<blockquote>
  <p>AMIS ("AMIS") The AMIS designate Asset Management Instruments acting as one-stop shop Multi-dimensional, multi-purposes fast moving, versatile transactional vehicles running on the ethereum blockchain natively.
</p>
  <footer><a href="https://amisolution.github.io/ERC20-AMIS" target="_blank">https://amisolution.github.io/ERC20-AMIS/</a></footer>
</blockquote>
